body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(22, 22, 22);
    height: 100%;
	width: 100%; 
}
.photo{
    position: absolute;
    top: 240px;
    left: 840px;
}
h1{
    position: absolute;
    top: 210px;
    left: 380px;
    color: rgb(196, 196, 196);
    font-size: 50px;
}
h2{
    position: absolute;
    top: 300px;
    left: 380px;
    text-align: left;
    color: rgb(196, 196, 196);
    font-size: 15px;
}
.logo{
    position: absolute;
    top: 240px;
    left: 180;
}