body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(22,22,22);
    height: 100%;
	width: 100%; 
}
table, th, td {
border: 2px solid #222;
color:#222;
font-weight: 900;
margin-top:150px;
margin-left:90px;
}
.menu{
            backdrop-filter: blur(10px);
    overflow:hidden;
        }
        .menu a{
            float:right;
    color: white;
    text-align: center;
    padding: 14px 14px;
    font-size: 25px;
        }
        .menu a:hover{
            background-color:#222;
    color: #aa8453;
        }
        .menu a:active{
            background-color: #222;
color: #aa8453;
        }
        #background{
position: absolute;
transform: translate(-50%,-50%);
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 0.02px 50px 120px 10px;
width:25%;
background:blur(20px);
margin-top:430px;
margin-left:450px;
background-attachment: relative;

}
#background2{
position: absolute;
transform: translate(-50%,-50%);
border-radius: 10px;
backdrop-filter: blur(10px);
border: 2px solid rgba(255,255,255,0.1);
box-shadow: 0 0 40px rgba(8,7,16,0.6);
padding: 0.02px 50px 120px 10px;
height:60%;
width:25%;
background:blur(20px);
margin-top:500px;
margin-left:1400px;
background-attachment: absolute;
}
label{
display: block;
margin-top: 90px;
margin-left: 35%;
font-size: 30px;
font-weight: 900;
padding: 0 10px;
}
::placeholder{
color: #e5e5e5;
}
input{
display: block;
height: 50px;
width: 100%;
background-color: rgba(255,255,255,0.07);
border-radius: 3px;
margin-top: 20px;
margin-left: 5%;
font-size: 16px;
font-weight: 550;
}
button{
margin-top: 50px;
margin-left: 5%;
width: 100%;
background-color: #222;
color: #aa8453;
padding: 15px 0;
font-size: 18px;
font-weight: 600;
border-radius: 5px;
cursor: pointer;
}
.Var{
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;  
    color: rgb(196, 196, 196); 
    cursor: pointer;
    background-color: rgb(37, 37, 37); 
    padding: 9px;
    border-radius: 8px;
    width: 350px;
    height: 550px; 
    text-align: center; 
    cursor: pointer;

}
.menu{
    position: absolute;
    top: 200px;
    left: 50px;
    text-align: center;

}
.clients{
    position: absolute;
    top: 200px;
    left: 650px;


}
.cacher{

    position: absolute;
    top: 200px;
    left: 1275px;

}
