<style>
    body{
        background-color:rgb(22, 22, 22);
    }
    h1{
        color:white;
    }
    .button {
        
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 22px;   
margin: 4px 2px;
cursor: pointer;
width: 250px;
height: 50px;
background-color: rgba(240, 156, 0, 0.947); 
border: 0px solid;
border-radius: 8px;
position: fixed;
left: 600px;
top:380;
}
.b {
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 22px;   
margin: 4px 2px;
cursor: pointer;
width: 250px;
height: 50px;
background-color: rgba(240, 156, 0, 0.947); 
border: 0px solid;
border-radius: 8px;
position: fixed;
left: 600px;
top:380;

}
</style>